<html>
<head>
  <title>WEEBCHECK - Otaku Network</title>
</head>

<body>
  <h1>WEEBCHECK - Otaku Network</h1><br><br>

  <h2>Made by: Arjun Kaul and Arpit Sangotra rofl </h2><br><br>

  <ul>Things to learn
    <li>SQLalchemy for database sharing between me and arpit. its a db migration system.
      migration is not equivalent to direct sharing but close enough</li>
      <li>Anime/Manga API to grab lists of manga and anime: AniList API. Note: This is tentative.
        Play around with it and see if this works properly else try some other API</li>
        <li>DB to use is MYSQL as asked in Ibit academy </li>
    </ul>
    part 1: (for now)
      Add DB. Current goals are to finish signup and login. make user personal page.
      Then fetch anime and manga lists. Dont do any special front end

</body>
</html>
